 <header>

        <div class="row header-content">
            <div class="large-3 small-12 columns medium-6 medium-centered large-uncentered">
                <a href="index.html"><h1 class="logo" alt="">Creche</h1>
        </div>

<nav>

    <div class="large-5 columns large-offset-4 large-uncentered medium-8 medium-centered  small-12 ">
       <ul class="navigation">
           <li class="home"> <a href="#">work</a>
                </li>
                <li class="home"><a href="#">about</a>
                </li>
                <li class="home"><a href="#contact-us-anchor">contact</a>
                </li>
                </ul>

            </div>
        </div>
        </nav>
    </header>