





<!--------------------------------------INTRO------------------------------------>

<section class="project" ng-controller="projectController">

  
    <project-intro></project-intro>





    <!--------------------------------------INTRO ENDS---------------------------------->


    <!--------------------------------------WORK---------------------------------->
 <a href="#/project/{{prevProject}}"><div class="backbar"></div></a>
    <a href="#/project/{{nextProject}}"> <div class="forwardbar"></div></a>


    <project-images></project-images>










</section>
<!--------------------------------------WORK ENDS---------------------------------->











